
.node circle {
    fill: #bbb;
}

.node:hover {
    fill: #000;
}

.node circle.component {
    fill: #f00;
}

.node circle.library {
    fill: #0f0;
}

.node circle.category {
    fill: #00f;
}

.link line {
    stroke: #000;
    stroke-opacity: .4;
    fill: none;
    pointer-events: none;
}

.link line.dependsOn {
    stroke: #f00;
}

.link line.memberOf {
    stroke: #0f0;
}

.link line.embeds {
    stroke: #00f;
}
